<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    {% block head %}
    {% endblock %}
  </head>
  <body background="{{ url_for('static', filename='pattern.jpg') }}">
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
        </div>
       <div>
         <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">HOME</a></li>
          <li><a href="{{ url_for('profile') }}">SIGN-UP</a></li>
          <li><a href="{{ url_for('profiles') }}">JSON USERS</a></li>
          <li><a href="{{ url_for('viewprofile') }}">VIEW GUI USERS</a></li>
          <li><a href="{{ url_for('games') }}">GAMES</a></li>
          <li><a href="{{ url_for('highscore') }}">HIGHSCORE</a></li>
        </ul>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <br /><br /><br /><br />
  {% block content %}{% endblock %}
  </body>
</html>
