{% extends "base.html" %}
{% block content %}
<form name='login' id='login' method='post'>
  {{ form.hidden_tag() }}
  <table>
    <tr>
      <td>Username:</td>
      <td>{{ form.username(size=50) }}
          {% for error in form.username.errors %}
            <span style="color: blue;">[{{ error }}]</span>
          {% endfor %}
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>{{ form.password(size=50) }}
          {% for error in form.password.errors %}
            <span style="color: blue;">[{{ error }}]</span>
          {% endfor %}
      </td>
    </tr>
    <tr>
        <td>Remember Me:</td>
        <td>{{ form.remember_me }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ form.login }}</td>
    </tr>
  </table>
  
</form>
{% endblock %}
