{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>GUI Profile</h2>
  <h3>(If you get an error, remember Heroku Deletes photos)</h3>
  <h3 style="color: red;">You must break cache to see photo</h3>
  <p>This shows the user's data using JSON:</p>
  <div class="list-group">
    {% for i in u %}
      <a class="list-group-item" href="gui_profile/{{ i.userid }}">{{ i.username }}</a>
    {% endfor %}
  </div>
</div>

<div class="container">
  <h2>JSON Profile (profile/id)</h2>
  <p>This shows the user's data using JSON:</p>
  <div class="list-group">
    {% for i in u %}
      <a class="list-group-item" href="profile/{{ i.userid }}">{{ i.username }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}

